POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me-postgres
MONGO_USER=mongo-admin
MONGO_PASSWORD=change-me-mongo
MAIL_USER=maildev
MAIL_PASSWORD=change-me-mail

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=change-me-admin
